USE [master]
GO
/****** Object:  Database [Ranking]    Script Date: 30/03/2022 09:31:50 ******/
CREATE DATABASE [Ranking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ranking', FILENAME = N'D:\DATASBASE\Ranking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ranking_log', FILENAME = N'D:\DATASBASE\Ranking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ranking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ranking]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 30/03/2022 09:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Total] [time](7) NOT NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
